.ContactsContainer {
  display: flex;
  color: white;
  padding-bottom: 2%;
  border-bottom: 1px solid white;
  width: 100%;
}

.TittleColor {
  color: #ff3c3c;
}

.ContactIcon {
  font-size: 40px;
  color: white;
  cursor: pointer;
  border-radius: 100px;
}

.ContactIcon:hover {
  color: #ff3c3c;
}

.Contacts {
  gap: 50px;
  display: flex;
  margin-left: auto;
}
