@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background: #17121a;
}

html {
  scroll-behavior: smooth;
}
