* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  font-family: "Outfit", sans-serif;
  background: linear-gradient(to bottom, #17121a, #231b27, #392c3f);
}

html {
  scroll-behavior: smooth;
}
